<div class="position-sticky" style="top: 4rem;">
    <div class="p-4 mb-3 border-bottom">
        <h4 class="fw-bold">About</h4>
        <p class="mb-0">Berbagai resep pilihan dari resep praktis, makanan anak, makanan tradisional hingga
            international. Ada juga pilihan resep berdasarkan jenis bahan baku.</p>
    </div>

    <div class="p-4">
        <h4 class="fst-italic">Tell me here</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/meydiansyah">GitHub</a></li>
            <li><a href="https://twitter.com/meydiansyah__">Twitter</a></li>
            <li><a href="https://www.facebook.com/riski.meydiansyah">Facebook</a></li>
            <li><a href="https://instagram.com/meydiansyah__">Instagram</a></li>
        </ol>
    </div>
</div>