<app-navbar></app-navbar>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Peringatan !</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Yakin ingin menghapus resep <b>{{ nameResep }}</b> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Batal</button>
        <button type="button" class="btn btn-danger" (click)="deleteResep(content)">Hapus</button>
    </div>
</ng-template>

<main class="main pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div *ngIf="isEmpty" class="text-center">
                    <img src="assets/img/empty.png" alt="" width="100">
                    <h4 class="mt-4">Data masih kosong !</h4>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="grid">
                    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let data of listData">
                        <article class="card mb-4 mx-2" (click)="getDetail(data.payload.doc.id)">
                            <header class="card-header">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="card-title">{{ data.payload.doc.data().name }}</h4>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="btn btn-danger"
                                            (click)="confirmDeleteResep(content, data.payload.doc.data().name, data.payload.doc.id)">
                                            delete</div>
                                    </div>
                                </div>
                            </header>
                            <img class="card-img" [src]="data.payload.doc.data().image_url" alt="">
                            <div class="card-body">
                                <p class="card-text">{{ data.payload.doc.data().description }}. </p>
                            </div>
                        </article>
                    </div>

                </div>

            </div>
            <div class="col-md-3 ml-auto">

                <div class="position-sticky" style="top: 4rem;">
                    <div class="p-4 mb-3 border-bottom">
                        <h4 class="fw-bold">About</h4>
                        <p class="mb-0">Berbagai resep pilihan dari resep praktis, makanan anak, makanan tradisional
                            hingga
                            international. Ada juga pilihan resep berdasarkan jenis bahan baku.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>